<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link th:href = "@{/css/bootstrap.min.css}" rel="stylesheet">
    <script th:src="@{/js/code.jquery.com_jquery-3.7.0.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>

    <title>ToDo</title>
</head>
<body>
<div class="container-fluid p-0">
    <header th:insert="blocks/header :: header"></header>
    <div class="mt-3 row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="mt-3 row">
                <div class="col-md-12">
                    <div class="card bg-primary text-white">
                        <div class="card-heading text-center">
                            <h3 class="card-title">Проект сервиса планирования задач</h3>
                            <h5 class="card-subtitle mb-2">job4j_todo</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-4 row">
                <div class="col-md-12">
                    <div class="card bg-primary text-white">
                        <div class="card-body text-center">
                            <p class="card-text">Простой и удобный сервис поможет Вам организовать Ваши задачи и повысить продуктивность.</p>
                            <a class="btn btn-light" th:href="@{/tasks}">Узнать больше</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
    <footer th:insert="blocks/footer :: footer"></footer>
</div>
</body>
</html>